*.gcov
*/test
*/*cmake
*/Modules
*/Testing
*/_deps
*/fetch_and_include
*/benchmark
CMakeFiles
CMakeCache.txt
Makefile
doc/html
doc/reference.xml
histogram.sublime-workspace
CMakeSettings.json
.DS_Store
.vs*
*.info
tools/lcov-*
coverage-report
