build*
*.gcov
doc/html
doc/reference.xml
doc/reference_pp.xml
__pycache__
*.pyc
.DS_Store
.vs*
*.info
tools/lcov-*
tools/codecov
coverage-report
.cache
venv
.pytest_cache
!*.jam
*.vcxproj
*.vcxproj.filters
*.sln
BoostFetch.cmake
cmake_install.cmake
CMakeCache.txt
CMakeFiles
*.cmake
DartConfiguration.tcl
_deps
*.obj
*.recipe
*.ilk
*.pdb
*.lastbuildstate
*.tlog
*.exe
CTestCostData.txt
LastTest.log