name: Fast

on:
  pull_request:
    branches:
      - master
      - develop
    paths-ignore:
      - 'doc/**'
      - 'examples/**'
      - 'tools/**'
      - '*.md'
  push:
    branches:
      - master
      - develop
    paths-ignore:
      - 'doc/**'
      - 'examples/**'
      - 'tools/**'
      - '*.md'

jobs:
  cmake:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: true
    steps:
    - uses: actions/checkout@v2
    - name: cmake
      run: |
        mkdir build
        cd build
        cmake ..
    - name: ctest
      run: |
        cd build
        ctest -C Debug --output-on-failure

  gcc5:
    runs-on: ubuntu-16.04
    steps:
    - uses: actions/checkout@v2
    - name: cmake
      run: |
        mkdir build
        cd build
        CXX=g++-5 cmake ..
    - name: ctest
      run: |
        cd build
        ctest -C Debug --output-on-failure
